<form [formGroup]="ativoForm">
  <table>
    <tr>
      <td *ngIf="ativo.nome != 'ADICIONAR'">
        <input formControlName="nome" />
      </td>
    </tr>
    <tr>
      <td *ngIf="ativo.nome != 'ADICIONAR'">Descrição:</td>
    </tr>
    <tr>
      <td>
        <textarea
          formControlName="descricao"
          *ngIf="ativo.nome != 'ADICIONAR'"
          rows="5"
          cols="21"
        >
        </textarea>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn-salvar" (click)="SalvarAdicionar()" mat-raised-button color="primary">
          {{ labelBotaoSalvar }}
        </button>

        <button mat-raised-button (click)="Excluir()" color="warn" *ngIf="ativo._id" >Excluir</button>
      </td>
    </tr>
  </table>
</form>
