<form [formGroup]="ativoForm" class="formCard" >
  <table>
    <tr>
      <td>
        Nome:
        <input class="inputNome" matInput formControlName="nome" />
      </td>
    </tr>
    <tr>
      <td>
        Qtd:
        <input class="inputnumber" matInput type="number" formControlName="quantidade" />
      </td>
    </tr>
    <tr>
      <td *ngIf="ativo.nome != 'ADICIONAR'">Descrição:</td>
    </tr>
    <tr>
      <td>
        <textarea
          matInput
          formControlName="descricao"
          *ngIf="ativo.nome != 'ADICIONAR'"
          rows="3"
          cols="21"
        >
        </textarea>
      </td>
    </tr>
    <tr>
      <td>
        <button
          type="button"
          class="btn-salvar"
          (click)="SalvarAdicionar()"
          mat-raised-button
          color="primary"
        >
          {{ labelBotaoSalvar }}
        </button>

        <button
          mat-raised-button
          (click)="Excluir()"
          color="warn"
          *ngIf="ativo._id"
        >
          Excluir
        </button>
      </td>
    </tr>
  </table>
</form>
