<mat-toolbar>
  <span class="material-icons iconmenu" [matMenuTriggerFor]="belowMenu">
    menu
  </span>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/home">Home</button>
    <button mat-menu-item routerLink="/classificacao">Classificacao</button>
  </mat-menu>
  <span class="titulo">Meus ativos</span>
  <span class="spacer"></span>
  <span class="material-icons"> account_circle </span>
  <p style="margin-right: 20px" *ngIf="usuario$ | async as user; else login">
    {{ user.nome }}
  </p>
  <p routerLink="/login" >logout</p>
  <ng-template #login>
    <p #login>Aguarde...</p>
  </ng-template>
</mat-toolbar>

<!--componentes alerta, mensagem, loading-->
<icone-loading-default></icone-loading-default>
<dialog-confirm></dialog-confirm>
<mat-accordion class="content">
  <alert-custom></alert-custom>
  <!--componentes alerta, mensagem, loading-->

  <router-outlet></router-outlet>
</mat-accordion>
